body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Consolas;
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

.hvalign85 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
}
