:root {color-scheme: dark;}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: #000;
    color: #fff;
    font-family: "IosevkaTermNerdFontMono";
    src: url("IosevkaTermnerdFontMono-Regular.ttf");
    font-size: 1rem;
    padding: 4rem 2rem;
}

h1 {
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
}

.card {
    border: 1px solid #333;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.card a:hover {text-decoration: underline;}

.card p {
    color: #aaa;
    font-size: 0.875rem;
    line-height: 1.5;
}
